<html><head>
    <meta charset="UTF-8">
    <title>Juego de preguntas</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.3.0/dist/sweetalert2.all.min.js"></script>
    <script id="index" src="../../index.js"></script>
  </head>
  
  <body>
    <style>
        * {
        transition: all 0.3s;
      }
  
      body {
        background: cadetblue;
        padding: 0;
        margin: 0;
        text-align: center;
        font-family: calibri;
        font-size: 120%;
      }
  
      .contenedor {
        width: 98vw;
        height: 97vh;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
  
      .encabezado {
        position: relative;
        background: #f3eeee;
        min-width: 300px;
        width: 70%;
        max-width: 600px;
        padding: 50px;
      }

      .encabezado h2{
        color: rgb(183, 101, 206);
      }
      
      .encabezado p{
        color: #6b6a6a;
      }

      .categoria {
        opacity: 0.0;
        text-align: left;
      }
  
      .pregunta {
        padding: 10px;
      }
  
      .imagen {
        object-fit: cover;
        height: 0px;
        width: 0px;
      }
  
      .btn {
        background: white;
        width: 100%;
        max-width: 550px;
        padding: 10px;
        margin: 5px;
        cursor: pointer;
      }

      .btn3{
        width: 100%;
      }
      .btn3{
        background-color: rgb(145, 108, 179);
        border: none;
      }
  
      .btn:hover {
        transform: scale(1.05);
        background-color: cornflowerblue;
      }
      
      .numero{
        position: absolute;
        opacity:0.3;
        top: 10px; 
        right: 10px;
      }
      
      .puntaje{
        opacity: 0.3;
        padding:10px;
        color:white;
      }
    </style>
    
    <div class="contenedor">
      <div class="encabezado" id="resultado" style="display: none;">Segun el Test las siguientes correponden a las Profesiones recomendadas: Diseño gráfico, diseño y decoración de interiores, diseño de jardines, diseño de modas, diseño de joyas, artes plásticas (pintura, escultura, danza, teatro, artesanía, cerámica), dibujo publicitario, restauración y museología, modelaje, fotografía, gestión gráfica y publicitaria, locución y publicidad, actuación, camarógrafa, arte industrial, producción audiovisual y multimedia, comunicación y producción en radio y televisión, diseño del paisaje, cine y video, comunicación escénica para televisión, música.</div>
      <div class="puntaje" id="puntaje">1/1</div> 
      <div class="encabezado" id="encabezado" style="display: default;">
        <div class="categoria" id="categoria">Ciencias_ecologicas_biologicas_salud</div>
        <div class="numero" id="numero">5</div>
        <div class="pregunta" id="pregunta">Diseñar cursos para enseñar a la gente sobre temas de salud e higiene.</div>
        <img src="https://i.ibb.co/SPqsRyx/221b.jpg" class="imagen" id="imagen" style="height: 200px; width: 100%; object-fit: cover;">
      </div>
      <form method="get" id="preguntas" action="/src/index.js">
      <!-- <div class="btn" id="btn1" style="background: white;">Me interesa</div>
      <div class="btn" id="btn2" style="background: white;">No me interesa</div> -->
      <button type="submit" class="btn" id="btn1" style="display: default; background: white;">Me interesa</button>
      </form>
      <form method="post" id="preguntax" action="/">
      <button type="submit" class="btn btn3" id="btn3" style="background: white; display: none;"><b>Salir</b></button>
      </form>
      
      <form method="post" action="/src/index.js/stop">
      <button type="submit" class="btn" id="btn2" style="display: default; background: white;">No me interesa</button>
      </form>
    </div>
  </body></html>