<html><head>
    <meta charset="UTF-8">
    <title>Juego de preguntas</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.3.0/dist/sweetalert2.all.min.js"></script>
    <script id="index" src="../../index.js"></script>
  </head>
  
  <body>
    <style>
       * {
        transition: all 0.3s;
      }
  
      body {
        background: cadetblue;
        padding: 0;
        margin: 0;
        text-align: center;
        font-family: calibri;
        font-size: 120%;
      }
  
      .contenedor {
        width: 98vw;
        height: 97vh;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
  
      .encabezado {
        position: relative;
        background: white;
        min-width: 300px;
        width: 70%;
        max-width: 600px;
        padding: 10px;
      }
  
      .categoria {
        opacity: 0.0;
        text-align: left;
      }
  
      .pregunta {
        padding: 10px;
      }
  
      .imagen {
        object-fit: cover;
        height: 0px;
        width: 0px;
      }
  
      .btn {
        background: white;
        width: 60%;
        max-width: 550px;
        padding: 10px;
        margin: 5px;
        cursor: pointer;
      }
  
      .btn:hover {
        transform: scale(1.05);
      }
      
      .numero{
        position: absolute;
        opacity:0.3;
        top: 10px; 
        right: 10px;
      }
      
      .puntaje{
        opacity: 0.3;
        padding:10px;
        color:white;
      }
    </style>
    
    <div class="contenedor">
      <div class="encabezado" id="resultado" style="display: none;">Segun el Test las siguientes correponden a las Profesiones recomendadas: Ingeniería en sistemas computacionales, geología, ingeniería civil, arquitectura, electrónica, telemática, telecomunicaciones, ingeniería mecatrónica (robótica), imagen y sonido, minas, petróleo y metalurgia, ingeniería mecánica, ingeniería industrial, física, matemáticas aplicadas, ingeniería en estadística, ingeniería automotriz, biotecnología ambiental, ingeniería geográfica, carreras militares (marina, aviación, ejército), ingeniería en costas y obras portuarias, estadística informática, programación y desarrollo de sistemas, tecnología en informática,educativa, astronomía, ingeniería en ciencias geográficas y desarrollo sustentable.</div>
      <div class="puntaje" id="puntaje">1/1</div> 
      <div class="encabezado" id="encabezado" style="display: default;">
        <div class="categoria" id="categoria">Ciencia_tecnologia</div>
        <div class="numero" id="numero">8</div>
        <div class="pregunta" id="pregunta">Concebir planos para viviendas, edificios y ciudadelas.</div>
        <img src="https://i.ibb.co/dgfv8zK/el-ojo.gif" class="imagen" id="imagen" style="height: 0px; width: 0px; object-fit: cover;">
      </div>
      <form method="get" id="preguntas" action="/src/index.js">
      <!-- <div class="btn" id="btn1" style="background: white;">Me interesa</div>
      <div class="btn" id="btn2" style="background: white;">No me interesa</div> -->
      <button type="submit" class="btn" id="btn1" style="display: default; background: white;">Me interesa</button>
      </form>
      <form method="post" id="preguntax" action="/">
      <button type="submit" class="btn" id="btn3" style="background: white; display: none;">Salir</button>
      </form>
      
      <form method="post" action="/src/index.js/stop">
      <button type="submit" class="btn" id="btn2" style="display: default; background: white;">No me interesa</button>
      </form>
    </div>
  </body></html>